*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Play&family=Rubik+Burned&display=swap');
/* common styles */
body{
    margin:1.5vw;
    font-family: 'Play','Comic Sans Ms', sans-serif;
}
.app{
    display:flex;
    flex-direction: column;
}
#headSection{
    display:flex;
    justify-content: space-between;
}
#nav{
    background-color:rgba(128, 128, 128, 0.541);
    text-align:center;
    margin-bottom: 3vw;
    margin-top:3vw;
}
.navLink{
    text-decoration: none;
}
.navList{
    display:inline;
    
}
.navLink{
    padding:2vw;
    margin:1vw;
    background-color: rgba(255, 192, 203, 0.83);
    border-radius: 2vw;
}
.navLink:hover{
    color:white;
    background-color: purple;
}
/* #main{
    box-sizing: border-box;
    align-self:center;
    padding-bottom:5vh;
} */
#footer{
    position:static;
    background-color: rgba(128, 128, 128, 0.541);
    margin-top:3vw;
}
.footerHeads{
    letter-spacing: 1px;
}
#footerSections {
    display:flex;
    justify-content: space-evenly;
    margin-top:2vw;
}
.footer p{
    letter-spacing: 0.3vw;
    color:rgb(91, 0, 131);
    text-align: center;
    margin-top:2vw;
    /* width:96vw; */
    /* background-color:rgba(128, 128, 128, 0.541); */
}
.footerList{
    list-style-type:none;
}
.footerLinks{
    text-decoration: none;
    color:rgb(95, 94, 94);
    display:flex;
    align-items: center;
}
.footerLinksBtn{
    border:none;
    background: transparent;
    font-family: 'Play','Comic Sans Ms', sans-serif;
    cursor: pointer;
    color:rgb(95, 94, 94);
}

#linkName{
    margin-left:5px;
}
#linkInfo{
    margin-bottom: 5px;
}
.orderList{
    display:grid;
    grid-gap:1vw;
    font-size:10px;
}
.orderList img{
    width:12vw;
    height:12vw;
}
.orderItem{
    text-align: center;
}
#hours{
    font-size: 12px;
    color:rgb(95, 94, 94);
    letter-spacing:1px;
}
#addCart{
    display:inline-flex;
}
#displayItems{
    width:5vw;
    text-align: center;
}
.addCartBtn{
    cursor: pointer;
    background:transparent;
    border:none;
}

#cartIcon{
    align-self: flex-end;
    margin-bottom: 1vw;
    margin-right: 1vw;
}
#cartBtn{
    background: transparent;
    border:none;
    cursor:pointer;
}
#cartImage{
    width:35px;
    height:35px;
}
/* menu page */
#menu h1{
    font-size:30px;
    text-align: center;
}
.menuSection{
    margin-left:5vw;
    margin-right:5vw;
}
.menuHeading{
    text-align: center;
    background-color: coral;
    font-size: 20px;
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px salmon;
}
.menuItems{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* text-align:center; */
}

/* mobile specific styles */
@media screen and (min-width:10px) and (max-width:767px){
    body{
        background-image: url('./Images/logos/logo4.png');
        background-size: 100;
        background-repeat: no-repeat;
        background-position: 0 0, center;
    }
    #headerImage{
        display:none;
    }
    #headSection{
        font-family: 'Rubik Burned', system-ui;
        font-size:6vw;
        justify-content: center;
        background-color: rgba(240, 128, 128, 0.649);
        color:white;
        text-shadow: 1px 1px coral;
    }
    .orderList{
        grid-template-columns: repeat(auto-fill, minmax(35vw, auto));
    }
    #linkName,#linkInfo{
        font-size:10px;
    }
}
/* non-mobile specific styles */
@media screen and (min-width:768px) and (max-width:4000px){
    
    #headerImage{
        width:8vw;
        height:8vw;
    }
    #headSection{
        font-family: 'Rubik Burned', system-ui;
        font-size:2vw;
        color:coral;
        text-shadow: 5px 3px rgb(247, 160, 160);
        align-items: center;
        letter-spacing: 1vw;
    }
    .orderList{
        grid-template-columns: repeat(auto-fill, minmax(30vw, auto));
    }
    #linkName,#linkInfo{
        font-size:15px;
    }
}
/* .overlay{
    
} */
.overlay_bg{
    width:100vw;
    height:100vh;
    text-align: center;
    /* position:fixed; */
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:1;
    cursor: pointer;
    display:none;
}
.overlay_container{
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.6); */
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
    margin:0 auto;
    padding:5vw;
    /* width:max-content;
    height:min-content; */
    /* width:-moz-fit-content;
    height:-moz-fit-content; */
    border-radius: 2vw;
    overflow:scroll;
}
.overlay_controls{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.overlay_xbtn{
    cursor: pointer;
    background: transparent;
    font-size:30px;
    border:none;
    position:fixed;
    /* top:0;
    right:10; */
}
.overlay_xbtn:after{
    content:"\00d7";
    display:inline-block;
    color:black;
}
.pop_container{
    border:2px rgba(189, 189, 189, 0.694) solid;
    border-radius: 1vw;
    background-color: rgb(255, 127, 80);
    border-spacing: 10px;
    width:83.5vw;
    letter-spacing: 0.1vw;
}
.pop_content_box{
    display:grid;
}
.pop_body_head{
    font-size:18px;
    color:black;
    font-weight: bold;
    
}
.pop_head{
    font-size:28px;
    color:coral;
    font-family: 'Rubik Burned', system-ui;
    text-shadow: 1px 1px rgb(255, 80, 80);
    text-align: center;
    background-color: white;
    opacity: 90%;
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    border-radius: 10px;
}
.pop_body{
    margin-left:20px;
    margin-right:20px;
}
.pop_body_data{
    font-size:16px;
    color:ghostwhite;
}

