*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Play&family=Rubik+Burned&display=swap');
/* common styles */
body{
    margin:1.5vw;
    font-family: 'Play','Comic Sans Ms', sans-serif;
}
.app{
    display:flex;
    flex-direction: column;
}
#headSection{
    display:flex;
    justify-content: space-between;
}
#nav{
    background-color:rgba(128, 128, 128, 0.541);
    text-align:center;
    margin-bottom: 3vw;
    margin-top:3vw;
}
.navLink{
    text-decoration: none;
}
.navList{
    display:inline;
    
}
.navLink{
    padding:2vw;
    margin:1vw;
    background-color: rgba(255, 192, 203, 0.83);
    border-radius: 2vw;
}
.navLink:hover{
    color:white;
    background-color: purple;
}
/* #main{
    box-sizing: border-box;
    align-self:center;
    padding-bottom:5vh;
} */
#footer{
    position:static;
    background-color: rgba(128, 128, 128, 0.541);
    margin-top:3vw;
}
.footerHeads{
    letter-spacing: 1px;
}
#footerSections {
    display:flex;
    justify-content: space-evenly;
    margin-top:2vw;
}
.footer p{
    letter-spacing: 0.1vw;
    color:rgb(51, 18, 103);
    text-align: center;
    margin-top:2vw;
    margin-bottom:1vw;
    /* width:96vw; */
    /* background-color:rgba(128, 128, 128, 0.541); */
    font-size: 12px;
}
.footerList{
    list-style-type:none;
}
.footerLinks{
    text-decoration: none;
    color:rgb(95, 94, 94);
    display:flex;
    align-items: center;
}
.footerLinksBtn{
    border:none;
    background: transparent;
    font-family: 'Play','Comic Sans Ms', sans-serif;
    cursor: pointer;
    color:rgb(95, 94, 94);
}

#linkName{
    margin-left:5px;
}
#linkInfo{
    margin-bottom: 5px;
}
.orderList{
    display:grid;
    grid-gap:1vw;
    font-size:10px;
}
.orderList img{
    width:12vw;
    height:12vw;
}
.orderItem{
    text-align: center;
}
#hours{
    font-size: 12px;
    color:rgb(95, 94, 94);
    letter-spacing:1px;
}
.addCart{
    display:inline-flex;
}
.displayItems{
    width:5vw;
    text-align: center;
}
.addCartBtn{
    cursor: pointer;
    margin-bottom:2vw;
    font-size:1vw;
    padding:10px;
    background-color: rgba(255, 192, 203, 0.83);
    border-radius: 1.5vw;
    color:black;
    font-family: 'Play','Comic Sans Ms', sans-serif;
}
.addCartBtn:hover{
    background-color: purple;
    color:white;
}
.addCartBtn:disabled{
    color:black;
    background-color: rgb(187, 187, 187);
    cursor:default;
}
#cartIcon{
    align-self: flex-end;
    margin-bottom: 1vw;
    margin-right: 1vw;
}
#cartBtn{
    background: transparent;
    border:none;
    cursor:pointer;
}
#cartImage{
    width:35px;
    height:35px;
}
/* menu page */
#menu h1{
    font-size:30px;
    text-align: center;
    text-shadow: 2px 2px gray;
}
.menuSection{
    margin-left:5vw;
    margin-right:5vw;
}
.menuHeading{
    text-align: center;
    /* background-color: coral; */
    background: linear-gradient(to right,pink,salmon,pink);
    font-size: 20px;
    font-weight: bolder;
    color:white;
    text-shadow: 2px 2px salmon;
}
.menuItems{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* text-align:center; */
}
#menuDescription{
    font-size:13px;
    color:gray;
}

.peachHeading{
    margin:3vw;
    font-size:55px;
    color:white;
    text-shadow:1px 1px coral;
}
.peachContent_heading{
    display: flex;
    margin-bottom:2vw;
    font-size:50px;
    color:white;
    font-weight: bold;
    font-style: italic;
    /* background:linear-gradient(to right,salmon,coral,maroon,black); */
    background:linear-gradient(to right,pink,salmon,pink);
    height:8vw;
    text-align: center;
    /* width:fit-content; */
    letter-spacing: 3px;
    align-items: center;
    justify-content: center;
    text-shadow:2px 2px purple;
}
.peachContent_body{
    color:white;
    font-size:25px;
    margin-bottom:8vw;
    line-height: 200%;
    padding:30px;
    /* background:linear-gradient(aliceblue,lavender,pink); */
    text-shadow:2px 2px purple;
}


/* mobile specific styles */
@media screen and (min-width:10px) and (max-width:767px){
    body{
        background-image: url('./Images/logos/logo4.png');
        background-size: 100;
        background-repeat: no-repeat;
        background-position: 0 0, center;
    }
    #headerImage{
        display:none;
    }
    #headSection{
        font-family: 'Rubik Burned', system-ui;
        font-size:6vw;
        justify-content: center;
        background-color: rgba(240, 128, 128, 0.649);
        color:white;
        text-shadow: 1px 1px coral;
    }
    .orderList{
        grid-template-columns: repeat(auto-fill, minmax(35vw, auto));
    }
    #linkName,#linkInfo{
        font-size:10px;
    }
    .addCartBtn{
        font-size:2.5vw;
    }
    .peachHeading{
        margin:3vw;
        font-size:20px;
        text-shadow: 1px 1px coral;
        color:white;
    }
    .peachContent_heading{
        display: flex;
        margin-bottom:2vw;
        font-size:18px;
        color:white;
        font-weight: bold;
        font-style: italic;
        /* background:linear-gradient(to right,salmon,coral,maroon,black); */
        background:linear-gradient(to right,pink,salmon,pink);
        height:12vw;
        text-align: center;
        /* width:fit-content; */
        letter-spacing: 3px;
        align-items: center;
        justify-content: center;
    }
    .peachContent_body{
        color:white;
        font-size:18px;
        margin-bottom:8vw;
        line-height: 200%;
        padding:10px;
        /* background:linear-gradient(aliceblue,lavender,pink); */
        text-shadow:1px 1px coral;
    }
    
}

/* non-mobile specific styles */
@media screen and (min-width:768px) and (max-width:10000px){
    
    #headerImage{
        width:8vw;
        height:8vw;
    }
    #headSection{
        font-family: 'Rubik Burned', system-ui;
        font-size:2vw;
        color:coral;
        text-shadow: 5px 3px rgb(247, 160, 160);
        align-items: center;
        letter-spacing: 1vw;
    }
    .orderList{
        grid-template-columns: repeat(auto-fill, minmax(30vw, auto));
    }
    #linkName,#linkInfo{
        font-size:15px;
    }
}
/* .overlay{
    
} */

.overlay_bg{
    width:100vw;
    height:100vh;
    text-align: center;
    /* position:fixed; */
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index:9998;
    cursor: pointer;
    display:none;
}
.overlay_container{
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(0, 0, 0, 0.6); */
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:9999;
    margin:0 auto;
    padding:5vw;
    /* width:max-content;
    height:min-content; */
    /* width:-moz-fit-content;
    height:-moz-fit-content; */
    border-radius: 2vw;
    overflow:scroll;
}
.paymentContainer{
    background-color: white;
    position: fixed;
    top:0vw;
    bottom:0vw;
    right:0vw;
    left:0vw;
    border-radius: 20px;
    overflow: scroll;
    border:2px solid white;
    text-align: center;
}
.cartContainer{
    /* display:flex; */
    background-color: rgb(255, 127, 80);
    position:fixed;
    top:2vw;
    bottom:2vw;
    right:2vw;
    left:2vw;
    border-radius: 20px;
    overflow: scroll;
    
}
.cartCloseBtn{
    cursor:pointer;
    font-size: 30px;
    border:none;
    background-color: transparent;
    position:fixed;
    right:5vw;
    /* margin-bottom:1vw; */
}
.cartCloseBtn:after{
    content:"\00d7";
    display:inline-block;
    color:black;
    font-size: 4vw;
}

.cartOrderHeading{
    margin:3vw;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw;
    /* width:50%; */
    text-align: center;
    /* padding:20px; */
    /* font-size:28px; */
    color:coral;
    font-family: 'Rubik Burned', system-ui;
    text-shadow: 1px 1px rgb(255, 80, 80);
    letter-spacing: 6px;
    font-size:20px;
}
/* .orderContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.orderHeading,.addedItemsList, .addedItemsInfo,.orderFooter{
    margin-left:1vw;
    /* padding: 2vw; */
    /* border:1px solid red; */
    width: 80vw;
    display:flex;
    column-gap: 10px;
    color:white;
    font-size:24px;
    letter-spacing: 2px;
}
.footerInfo{
    margin-top:3vw;
    text-align: center;
    /* display: flex; */
    width: 50vw;
    /* color:coral; */
    text-shadow: 2px 2px rgb(241, 84, 255);
}

.addedItemsInfo{
    column-gap: 0.2vw;
}
.quantBtn{
    width:30px;
    height:30px;
    border-radius: 10px;
    background:white;
    border:none;
    font-size: 20px;
}
.quantBtn:hover{
    background-color: purple;
    color:white;
    cursor:pointer;
}
#quantView{
    border:none;
    background: transparent;
    text-align: center;
    width:35px;
    font-size:20px;
    /* color:white; */
}
.checkOut{
    text-align: center;
    margin:4vw;
    padding:2vw;
}
.checkOutBtn,.resetOkay{
    background-color: white;
    /* border:none; */
    border-radius: 10px;
    width:120px;
    height:60px;
    font-size:30px;
    letter-spacing: 1px;
    font-family: 'Play','Comic Sans Ms', sans-serif;
    text-shadow: 2px 2px purple;
    color:coral;
}
.checkOutBtn:hover,.resetOkay:hover{
    cursor: pointer;
    color:white;
    background-color: purple;
}
.overlay_controls{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.overlay_xbtn{
    cursor: pointer;
    background: transparent;
    font-size:30px;
    border:none;
    position:fixed;
    /* top:0;
    right:10; */
}
.overlay_xbtn:after{
    content:"\00d7";
    display:inline-block;
    color:black;
}
.pop_container{
    border:2px rgba(189, 189, 189, 0.694) solid;
    border-radius: 1vw;
    background-color: rgb(255, 127, 80);
    border-spacing: 10px;
    width:83.5vw;
    letter-spacing: 0.1vw;
}
.pop_content_box{
    display:grid;
}
.pop_body_head{
    font-size:18px;
    color:black;
    font-weight: bold;
    
}
.pop_head{
    font-size:28px;
    color:coral;
    font-family: 'Rubik Burned', system-ui;
    text-shadow: 1px 1px rgb(255, 80, 80);
    text-align: center;
    background-color: white;
    opacity: 90%;
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
    border-radius: 10px;
}
.pop_body{
    margin-left:20px;
    margin-right:20px;
}
.pop_body_data{
    font-size:16px;
    color:ghostwhite;
}

/* Loading bar CSS with animation */
.loading-bar-container {
    margin:1vw;
    padding:1vw;
    width: 100%;
    height: 20px; /* Adjust height as needed */
    background-color: rgb(255, 255, 255); /* Background color of the loading bar container */
    overflow: hidden; /* Hide overflow */
  }
  
 .loading-bar {
    height: 100%;
    background-color: #00ff66; /* Color of the loading progress */
    animation: loading-progress 2s linear forwards; /* Animation with duration 2s */
  }
  
  @keyframes loading-progress {
  from { width: 0; } /* Initial width of 0% */
  to { width: 100%; } /* Final width of 100% */
  }
  .payment{
    margin:1vw;
    padding:1vw;
    color:white;
    font-size: 25px;
    letter-spacing: 1px;
  }

#carouselImages{
    width: 40vw;
    height: 20vw;
    border-radius: 10px;
    margin:10px;
}
.displayImages{
    text-align: center;
    background:linear-gradient(to right,white,pink,pink,pink,white);
    border-radius: 5vw;
    margin:20px;
}
.homeHeader{
    background-color: rgba(128, 128, 128, 0.692);
    border-radius: 10px;
}
#homeHeaderInfo{
    font-size: 2.5vw;
    margin-right: 10px;
    color:white;
    text-align: center;
}
#carouselHeader{
    color:white;
    text-shadow: 2px 2px purple;
    padding:10px;
}
#imageText{
    color:rgb(98, 99, 101);
    text-shadow: 1px 1px pink;
    padding:20px;
}
/* .reservePageContainer{
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.reservationSection{
    display:flex;
} */
.reservePageContainer {
    margin: 20px;
  }
  
  .reservationHead {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .reservationSection {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .reserveForm {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="date"],
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .errorMsg {
    color: red;
    margin-top: 5px;
  }
  
  .reserveButton {
    /* background-color: #4CAF50;
    color: white;
    
    border: none;
    border-radius: 5px;
    cursor: pointer; */
    background-color: white;
    /* border:none; */
    border-radius: 5px;
    padding: 10px 20px;
    /* width:180px;
    height:60px; */
    font-size:30px;
    letter-spacing: 1px;
    font-family: 'Play','Comic Sans Ms', sans-serif;
    text-shadow: 2px 2px purple;
    color:coral;
  }
  
  .reserveButton:hover {
    cursor: pointer;
    color:white;
    background-color: purple;
  }
  .reserveLabels{
    font-size:25px;
    letter-spacing: 1px;
  }
  .reserveConfirm{
    margin-bottom:20px;
    font-size: 14px;
  }
  .reserveButton1,.confirmMessage{
    text-align: center;
    padding:10px;
  }